# Python cache files
*.pyc
__pycache__/

# Python virtual env
.venv/

# Build files
build/
.eggs/
*.egg-info/
tino/static/css/vendor/
tino/static/js/vendor/

# Javascript package cache
package-lock.json
node_modules

# Testing files
.coverage
.coveragerc
.isort.cfg
.pylintrc
tox.ini
eslint.config.mjs
.stylelintrc.yml

# Data
data/

# OS files
.DS_Store

# IDE
.idea/
.vscode/

# Environment
.env
